<header class="kanban-board__header">
  <h1 class="kanban-board__title">Personal Kanban Board</h1>
  <div class="kanban-board__options">
    <button (click)="showCreateTaskForm()" class="kanban-board__option-button">
      <span class="kanban-board__option">+</span>
    </button>
    @if (isAdmin()) {
    <button (click)="deleteAllTasks()" class="kanban-board__option-button">
      <span class="kanban-board__option">-</span>
    </button>
    }
  </div>
</header>
<app-task-user-selection></app-task-user-selection>
<main class="kanban-board">
  @for (taskStatus of taskStatuses; track $index) {
  <app-task-column
    [taskStatus]="taskStatus"
    class="kanban-board__task-column"
  />
  }
</main>
<app-task-form></app-task-form>
