<header class="kanban_board__header">
  <h1 class="kanban_board__title">Personal Kanban Board</h1>
  <div class="kanban_board__options">
    <button (click)="showCreateTaskForm()" class="kanban_board__kanban_board">
      <span class="kanban_board__option">+</span>
    </button>
    @if (isAdmin) {
    <button (click)="deleteAllTasks()" class="kanban_board__kanban_board">
      <span class="kanban_board__option">-</span>
    </button>
    }
  </div>
</header>
<app-task-user-selection></app-task-user-selection>
<main class="kanban_board">
  @for (taskStatus of taskStatuses; track $index) {
  <app-task-column [taskStatus]="taskStatus" />
  }
</main>
<app-task-form></app-task-form>
