<div class="task-user-selection">
  <div class="task-user-selection__user">
    <p class="task-user-selection__username task-user-selection__username--big">
      Select user:
    </p>
  </div>
  <div
    (click)="findAllTasksAssignedToUser(ALL_TASKS_SELECTION)"
    class="task-user-selection__user task-user-selection__user--selectable"
  >
    <p
      [ngStyle]="{ color: colors()[users().length - 1] }"
      class="task-user-selection__username"
    >
      All tasks
    </p>
  </div>
  @for (user of users(); track $index) {
  <div
    (click)="findAllTasksAssignedToUser(user.userId)"
    class="task-user-selection__user task-user-selection__user--selectable"
  >
    <p
      [ngStyle]="{ color: colors()[$index] }"
      class="task-user-selection__username"
    >
      {{ user.username }}
    </p>
  </div>
  }
</div>
