<div (click)="emitHideCeateTaskFormEvent()" [ngStyle]="{'display': isCeateTaskFormVisible() ? 'block' : 'none'}"
    class="task_form__background">
</div>
<div [ngStyle]="{'display': isCeateTaskFormVisible() ? 'block' : 'none'}" class="task_form">
    <form [formGroup]="taskForm" (ngSubmit)="createTask()" class="task_form__form">
        <div class="task_form__controls_wrapper">
            <label for="title" class="task_form__label">
                Title:
            </label>
            <input formControlName="title" id="title" type="text" placeholder="Title" class="task_form__input">
        </div>
        <div class="task_form__controls_wrapper">
            <label for="description" class="task_form__label">Description:</label>
            <input formControlName="description" id="description" type="description" placeholder="Description"
                class="task_form__input">
        </div>
        <div class="task_form__controls_wrapper">
            <label for="status" class="task_form__label">Status:</label>
            <label for="low" class="task_form__label">Low:</label>
            <input formControlName="status" value="Low" id="low" type="radio" class="task_form__input">
            <label for="medium" class="task_form__label">Medium:</label>
            <input formControlName="status" value="Medium" id="medium" type="radio" class="task_form__input">
            <label for="high" class="task_form__label">High:</label>
            <input formControlName="status" value="High" id="high" type="radio" class="task_form__input">
        </div>
        <div class="task_form__controls_wrapper">
            <label for="priority" class="task_form__label">Priority:</label>
            <label for="ready-to-start" class="task_form__label">Redy to start:</label>
            <input formControlName="priority" value="READY_TO_START" id="ready-to-start" type="radio"
                class="task_form__input">
            <label for="in-progress" class="task_form__label">In progress:</label>
            <input formControlName="priority" value="IN_PROGRESS" id="in-progress" type="radio"
                class="task_form__input">
            <label for="done" class="task_form__label">Done:</label>
            <input formControlName="priority" value="DONE" id="done" type="radio" class="task_form__input">
        </div>
        <div class="task_form__controls_wrapper">
            <label for="assigned-to" class="task_form__label">Assigned to:</label>
            <select id="assigned-to" class="task_form__select">
                @for (user of users(); track $index) {
                <option class="task_form__select" [value]="user.username">{{user.username}}</option>
                }
            </select>
        </div>
        <div class="task_form__controls_wrapper">
            <label for="target-end-date" class="task_form__label">
                Target end date:
            </label>
            <input formControlName="targetEndDate" [min]="minTargetEndDate" id="target-end-date" type="date"
                class="task_form__input">
        </div>
        <div class="task_form__controls_wrapper">
            <button [ngClass]="taskForm.valid || !taskForm.touched ? '' : 'task_form__button--error' "
                class="task_form__button" type="submit">Submit</button>
        </div>
    </form>
</div>