<div
  [@taskState]="taskAnimationState"
  (@taskState.done)="finishAnimation()"
  [ngStyle]="{ 'background-color': color }"
  [ngClass]="{ subtask: !isTask() }"
  class="task"
>
  <div class="task__title_container">
    <p class="task__title">{{ task()?.title }}</p>
    <div class="task__options">
      <button (click)="updateTask()" class="task__option-button">
        <span class="task__option">+</span>
      </button>
      <button (click)="startDeleteTaskAnimation()" class="task__option-button">
        <span class="task__option">-</span>
      </button>
    </div>
  </div>
  <div class="task__details_container">
    <p class="task__assigned_to">
      Assigned to:
      <select
        #userAssignedTo
        (change)="updateAssignedUserToTask(userAssignedTo.value)"
        class="form__select"
      >
        @for (user of users(); track $index) {
        <option
          class="form__select"
          [selected]="task()?.assignedTo === user.username"
          [value]="user.userId"
        >
          {{ user.username }}
        </option>
        }
      </select>
    </p>
    <p class="task__priority">{{ priority }}</p>
  </div>
  <div class="task__description_container">
    <p class="task__description">
      {{ task()?.description }}
    </p>
  </div>
  @if(isTask()) {
  <div class="task__subtasks_container">
    <app-task
      *ngFor="let subtask of getSubtasks()"
      [task]="subtask"
      class="subtask"
    />
  </div>
  }
</div>
