<div class="user_auth">
    <div class="user_auth__action">
        <button (click)="changeAction()" class="user_auth__action_header user_auth__action_header--active">Sign
            in</button>
        <button (click)="changeAction()" class="user_auth__action_header">Sign up</button>
    </div>
    <form class="user_auth__form">
        <div class="user_auth__controls_wrapper">
            <label for="username" class="user_auth__label">
                {{isInLoginView ?"Username or email:" : "Username:"}}
            </label>
            <input id="username" type="text" placeholder="Username" class="user_auth__input">
        </div>
        @if (!isInLoginView) {
        <div class="user_auth__controls_wrapper">
            <label for="email" class="user_auth__label">Email:</label>
            <input id="email" type="email" placeholder="Email" class="user_auth__input">
        </div>
        }
        <div class="user_auth__controls_wrapper">
            <label for="password" class="user_auth__label">Password:</label>
            <input id="password" type="password" placeholder="*****" class="user_auth__input">
        </div>
        @if (!isInLoginView) {
        <div class="user_auth__controls_wrapper">
            <label for="matching-password" class="user_auth__label">Repeat password:</label>
            <input id="matching-password" placeholder="*****" type="password" class="user_auth__input">
        </div>
        }
        <div class="user_auth__controls_wrapper">
            <button class="user_auth__button" type="submit">Submit</button>
        </div>
    </form>
</div>